<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NavigationDrawerPopUpMenu2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <TSManager.Properties.Settings>
                <setting name="TVTestPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="TVTPlayBondriver" serializeAs="String">
                        <value />
                </setting>
                <setting name="Com" serializeAs="String">
                        <value />
                </setting>
                <setting name="SaveFolder" serializeAs="String">
                        <value />
                </setting>
                <setting name="FfmpegPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="Mode" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="BlackList" serializeAs="String">
                        <value />
                </setting>
                <setting name="FfmpegPara" serializeAs="String">
                        <value>-filter_complex "pullup,dejudder,fps=24000/1001,scale=680:383" -vframes 1</value>
                </setting>
                <setting name="FfmpegSec" serializeAs="String">
                        <value>10</value>
                </setting>
                <setting name="FFmpegWaitSec" serializeAs="String">
                        <value>3000</value>
                </setting>
        </TSManager.Properties.Settings>
        <NavigationDrawerPopUpMenu2.Properties.Settings>
                <setting name="TVTestPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="TVTPlayBondriver" serializeAs="String">
                        <value />
                </setting>
                <setting name="Com" serializeAs="String">
                        <value />
                </setting>
                <setting name="SaveFolder" serializeAs="String">
                        <value />
                </setting>
        </NavigationDrawerPopUpMenu2.Properties.Settings>
    </userSettings>
</configuration>